/*------------------------------------*\
    #FOOTER
\*------------------------------------*/

.b-footer{
  position: relative;
  background-color: black;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.b-footera {
  text-decoration: none;
  color: #fff;
}