.o-main-container {
  position: relative;
  z-index: 4;
}

.o-single-container {

}

.o-single-container,
.o-about-container,
.o-join-container,
.o-timetable-container {
  background: linear-gradient(180deg, rgba(21, 0, 61, 0.8), rgba(21, 0, 61, 0.2)), url(../img/space.jpg);  
  padding-top: 100px;
  height: 100%;
}